@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    background-color: rgb(142, 135, 150);
    font-family: "public sans" , sans-serif;
    font-size: 1.2rem;
    min-height: 100px;
}

.logo{
    width: 250px;
    margin: 0 auto;
}

.img{
    width: 120px;
    height: 50px;
    float: left;
    padding: 10px;

}

nav ul li {
list-style: none;
margin-left: 75px;
padding: 8px 0;
float: left;
}

nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75) ;
    border-radius: 4px;
    padding: 10px;
    text-align: center;

}

nav{
    float: right;
}

.header{
    grid-area: header;
    background-color: rgb(157, 173, 168);
    clear: both;
    content: '';
    display: table;
}

.navbar{
    grid-area: navbar;
    background-color: rgb(124, 124, 141);
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(155, 155, 229);
}

.main{
    grid-area: main;
    background-color: rgb(91, 91, 109);
}
.footer{
    grid-area: footer;
    background-color: rgb(104, 103, 105);
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";
}

@media (min-width: 279px) {
    .grid-container {
        grid-template-columns: 200px auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "header header"
        "navbar navbar"
        "sidebar main"
        "footer footer";
    }
}

@media (min-width: 900px) {
    .grid-container{
        grid-template: 
        "header header header" 
        "navbar main sidebar"
        "footer footer footer"
        200px    auto   200px;
    }
}